<%- include ('templates/header.ejs', {
    titulo: "ERROR 404",
    descripcion: "¡Ups, algo salió mal!"
}) %>
<main>
    <button><a href="/">Iniciar sesión</a></button>
    <button><a href="/signup">Crear cuenta</a></button>
</main>

<%- include ('templates/footer.ejs')  %>