<%- include ('templates/adminHeader.ejs') %>

<nav>
    <ul>
        <li><a href="/admin">Inicio</a></li>
        <li><a href="/admin/entradas">Entradas</a></li>
        <li><a href="/admin/usuarios">Usuarios</a></li>
    </ul>
</nav>
